<% provide(:title, "About") %>

  <h1>About Page</h1>
<p>
  The <a href="https://www.rails tutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>, part of the
  <a href="https://www.learn enough.com/">Learn Enough</a> family of
  tutorials, is a
  <a href="https://www.rails tutorial.org/book">book</a> and
  <a href="https://screen casts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="https://ruby on rails.org/">Ruby on Rails</a>.
  This is the sample app for the tutorial.
</p>
