<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.rails tutorial.org/contact">contact page</a>.
</p>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Help', static_pages_help_path %></li>
<li><%= link_to 'About', static_pages_about_path %></li>
