<% provide(:title, "Home") %>

  <h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://www.rails tutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<ul>
<li><%= link_to 'About', static_pages_about_path %></li>
<li><%= link_to 'Help', static_pages_help_path %></li>
<li><%= link_to 'Contacts', static_pages_contact_path %></li>
</ul>

