<header class="navbar navbar-fixed-top navbar-inverse bg-dark">
      <div class="navbar-inner">
        <div class="container d-flex flex-row justify-content-between">
          <ul><%= link_to "Logo sample app", '#', id: "logo" %></ul>
          <nav>
            <ul class="nav pull-right mt-3">
               <li><%= link_to "Home", root_path %></li>
             <li><%= link_to 'Help', static_pages_help_path %></li>
             <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>